body {
    background-color: #CBF1F5;
    font: italic 1.2em "Fira Sans", serif;
}

img {
    height: 200px;
}

hr {
    border-style: dotted none none;
    border-color: #E3FDFD;
    border-width: 6px;
    height: 0px;
    width: 4%;
}

h1 {

color: #71C9CE;

}

h2 {

color: #6096B4;

} 